body {
    background: #FFDAB9;
    color: #333333;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.home {
    display: flex;
    align-items: center !important;
    justify-content: center;
}
    
.home-content {
    max-width: 600px;
}

.home-content h1 {
    position: relative;
    font-size: 56px;
    font-weight: 700;
    color: #333333;
}

.home-content h3 {
    position: relative;
    font-size: 32px;
    font-weight: 700;
    color: #333;
    line-height: 1.2;
}

.home-content p {
    position: relative;
    font-size: 16px;
    margin: 20px 0 40px;
    color: #333;
}

.home-content #portrait {
    width: 450px;
}

.home-content img {
    width: 450px;
    border-radius: 50%;
}

/* Animation des bandeaux qui cachent les éléments lors du chargement de la page */
.home-content h1::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #FFDAB9;
    animation: showRight 1.2s ease forwards;
}

.home-content h3::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #FFDAB9;
    animation: showRight 1.2s ease forwards;
}

.home-content #portrait::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #FFDAB9;
    animation: showRight 3s ease forwards;
}

.home-content p::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #FFDAB9;
    animation: showRight 1.2s ease forwards;
}

/* Clé d'animation d'image */
@keyframes showRight {
    100% {
        width: 0;
    }
}

/* Style responsive */
@media screen and (max-width: 1300px) {
    .home-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .home-content #portrait {
        width: 150px;
        margin-top: 20px;
    }
    
    .home-content img {
        width: 150px;
        border-radius: 50%;
    }

    .home-content h1,
    .home-content h3,
    .home-content p {
        text-align: center;
    }

    .home {
        display: grid;
    }
}