@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@font-face {
    font-family: 'dyslexic-font';
    src: url('../fonts/OpenDyslexic-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MainLux-font';
    src: url('../fonts/Mainlux-Light.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Monaco';
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 10%;
    background: #FFE4C4;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.navbar {
    padding: 20px;
}

.navbar a {
    font-size: 20px;
    color: #333333;
    text-decoration: none;
    font-weight: 500;
    margin-left: 20px;
    transition: color 0.2s ease, background-color 0.2s ease;
    transition: color 0.2s ease;
    padding: 15px;  
    border-radius: 50% 0 50% 0;
    background: #FFE4C4;
}

.navbar a:hover, 
.navbar a.active {
    background: #FFA07A;
    color: white;
}

.space-with-navbar {
    margin-top: 100px;
}

/* Style responsive */
@media screen and (width < 1400px) {    
    .navbar a {
        display: inline-block;
        margin-left: 0px;
    }

    .header {
        padding: 0;
    }
}

@media screen and (width < 1000px) {
    .space-with-navbar {
        margin-top: 150px;
    }
}

@media screen and (width < 1025px) {
    .navbar {
        padding: 5px;
    }
}