body {
    background: #FFDAB9;
    color: #333333;
    margin: 0;
    padding: 0;
}

.section-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

.presentation-box, .content-box {
    background-color: #FFE4C4;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    width: 90%;
    max-width: 800px;
}

.presentation-box .image-container {
    text-align: center;
    margin-bottom: 20px;
}

.presentation-box .image-container img {
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
}

.presentation-box .biography-container p {
    font-size: 20px;
    max-width: 600px;
    margin: 0 auto;
    line-height: 1.6;
    color: #333;
}

.content-box {
    width: 45%;
    margin: 10px;
    overflow-y: hidden;
    position: initial;
    height: 450px;
}

.scrolled {
    max-height: 310px;
    overflow-y: scroll;
}

.content-box h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

.timeline {
    list-style: none;
    padding: 0;
}

.timeline li {
    margin-bottom: 20px;
}

.timeline h3 {
    font-size: 20px;
    margin: 0 0 5px 0;
    color: #333333;
}

.timeline span {
    font-size: 16px;
    color: #666;
    display: block;
    margin-bottom: 5px;
}

.timeline p {
    font-size: 18px;
    color: #333;
    margin: 0;
}

/* Style responsive */
@media screen and (width < 1200px) {
    .presentation-box, .section-container, .content-box {
        width: 100%;
    }
}