body {
    background-color: var(--color-secondary);
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#accessibility-settings {
    background-color: var(--color-primary);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px var(--color-box-shadow);
    margin-top: 150px;
}

h2 {
    margin-top: 0;
}

label {
    display: block;
    margin-bottom: 8px;
}

input[type="checkbox"],
select {
    margin-bottom: 16px;
}


.hide {
    display: none;
}

.discover {
    display: initial;
}