body {
    background: #FFDAB9;
    color: #333333;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 36px;
    display: flex;
    justify-content: center;
    margin: 40px;
}

.section-container {
    display: flex;
    justify-content: center;
}

.project-list {
    display: grid;
    gap: 30px;
    width: 80%;
    margin: 0 auto;
}

.project-item {
    background-color: #FFE4C4;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.project-item .top-section {
    display: flex;
    align-items: center;
    height: 300px;
}

.project-item img {
    width: 350px;
    height: 100%;
    border-radius: 5px;
    object-fit: fill;
}

.image-presentation-projet {
    border-radius: 0px !important;
}

.project-info {
    padding: 20px;
    width: 100%;
}

.project-info h2 {
    font-size: 33px;
    margin-bottom: 10px;
}

.project-info p {
    font-size: 20px;
    margin-bottom: 10px;
}

/* Styles pour la description détaillée des projets */
.description-projet {
    display: none;
    margin: 20px;
    max-height: 400px;
    overflow-y: hidden;
}

.description-projet.scrolled {
    overflow-y: auto;
}

.description-projet p {
    font-size: 20px;
    color: #333;
}

.show {
    display: block;
}

.btn-en-savoir-plus {
    color: #000000;
    border: none;
    border-top: 1px solid #d4d2d2;
    padding: 8px 16px;
    font-size: 20px;
    cursor: pointer;
    background-color: transparent;
    width: 100%;
    text-align: left;
    height: 40px;
    display: flex;
    justify-content: center;
}

.btn-en-savoir-plus:hover {
    background-color: #FFA07A;
    color: white;
}

.videos, .images-description-projet {
    width: 700px !important;
    height: 400px;
}

#planInteractif {
    width: auto !important;
    height: 500px !important;
}

#image-inventaire-equipements {
    width: 98% !important;
    height: auto !important;
}

#image-intervenants {
    width: 300px !important;
    height: auto !important;
}

#image-statistiques-interventions, #image-diagnostiques-incidents {
    width: 700px !important;
    height: auto;
}

/* Style responsive */
@media screen and (width < 1200px) {
    .project-list {
        width: 100%;
    }
}

@media screen and (width < 800px) {
    .image-presentation-projet {
        display: none;
    }
}